* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fbcff3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #333;
  }
  
  h3 {
    font-size: 1rem;
    margin: 15px 0;
    color: #007bff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(13, 59, 245);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.add-btn {
    background-color: #007bff;
  }
  
  button.add-btn:hover {
    background-color: #0056b3;
  }
  
  button.discount-btn {
    background-color: #007bff;
  }
  
  button.discount-btn:hover {
    background-color: #0056b3;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .cart-item span {
    font-size: 0.9rem;
  }
  
  .cart-item button {
    background-color: #dc3545;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #c82333;
  }
  
  #totalAmount {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  